.recommendedTours {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 1rem;

    h2 {
        font-family: var(--title-font);
        width: 100%;
        font-size: var(--bigger-font-size);
        text-transform: capitalize;
        text-align: left;
    }
}