.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    position: relative;


    @media (max-width: 555px) {
        height: 55vh;
    }
    h1 {
        font-size: var(--title-size);
        font-family: var(--title-font);
        color: #fff;
        text-transform: lowercase;
        text-align: center;
    }

    p {
        font-size: var(--body-size);
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        filter: brightness(0.5);

    }
}
