.toursSearch {
    position: relative;
    z-index: 99;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9;

    @media (max-width: 555px) {
        width: 80%;
        margin: 0 auto;
    }

    &__middle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        position: relative;
        left: 0;
        border: 1px solid var(--border-color);
        border-radius: 2rem;
        padding: 0.25rem 0.5rem;
        background-color: var(--dimmed-color);
        gap: 1rem;
        z-index: 9;


        .formField {

            label {
                display: none;
            }

            select {
                background-color: transparent;
                border: none;
                outline: none;
                background-color: var(--background-color);
                box-shadow: 0 4px 30px rgba(96, 77, 58, 0.1);
                backdrop-filter: blur(5px);
                border: 1px solid #dadada9b;
                -webkit-appearance: none;
                -moz-appearance: none;
                cursor: pointer;
                border-radius: 2rem;
                padding: 0.6rem;
                font-size: 1rem;
                color: #383838;
                font-family: var(--body-font);

                @media (max-width: 555px) {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }


    &__search {
        svg {
            position: relative;
            font-size: 2rem;
            padding: 0.4rem;
            background-color: var(--accent-color);
            color: var(--container-color);
            border-radius: 2rem;
            z-index: 99;

            @media (max-width: 555px) {
                padding: 0.5rem;
                font-size: 2rem;
            }
        }
    }
}