.nav {
    overflow: hidden;
    position: fixed;
    background-color: var(--background-color);
    z-index: 1;

    @media (max-width: 1255px) {
        padding: 0rem;
        width: 100%;
    }
    .wrapper {
        display: flex;
        gap: 50px;
        margin-bottom: 80px;
        padding: 4rem;

        @media (max-width: 1255px) {
            padding: 0rem;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 1255px) {
            padding-top: 2rem;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .nav {
        .wrapper {
            margin-bottom: 0px;
            justify-content: space-between;
        }
    }
}