.menuPage {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;

    &__upper {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        img {
            height: 50vh;
            object-fit: cover;
            width: 100%;
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            position: relative;
            z-index: 1;
            filter: grayscale(20%);

            @media (max-width: 777px) {
                height: 40lvh;
            }

        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, var(--title-color) 100%);
            z-index: 1;
        }

        &__text {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            h1 {
                font-size: var(--biggest-font-size);
                color: var(--background-color);
                text-align: center;
                text-transform: capitalize;
                font-family: var(--title-font);

                @media (max-width: 777px) {
                    font-size: var(--bigger-font-size);
                }
            }
        }
    }

    &__lower {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        h2 {
            font-size: var(--bigger-font-size);
            font-family: var(--title-font);
            color: var(--title-color);
            text-align: center;
            margin: 2rem 0;
            width: 100%;

            @media (max-width: 768px) {
                font-size: var(--bigger-font-size);
            }
        }

        &_tours {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            width: 100%;
            gap: 0.5rem;
        }
    }
}