.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 5vh;

    @media (max-width: 1256px) {
        padding: 0.5rem;
        padding-top: 7vh;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 0;
        font-family: var(--title-font);
        color: var(--title-color);
    }

    img {
        width: 100%;
        height: 50lvh;
        object-fit: cover;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    &_upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding-bottom: 10vh;
        border-bottom: 1px solid var(--border-color);
        @media (max-width: 556px) {
            padding-bottom: 1rem;
        }

        &_titles,
        &_titles_accent {
            display: flex;
            width: 100%;
            overflow: hidden;

            h2 {
                line-height: 1;
                margin-top: 0;
                font-size: 5vw;
                font-family: var(--logo-font);
                letter-spacing: normal;
                color: var(--title-color);
                text-transform: normal;

                @media (max-width: 1256px) {
                    font-size: 7vh;
                }

                @media (max-width: 520px) {
                    font-size: 5vh;
                }

                @media (max-width: 410px) {
                    font-size: 4vh;
                }
            }
        }

        &_titles_accent {
            h2 {
                color: var(--accent-color);

            }
        }

        &_lower {
            margin-top: 4vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;

            span {
                font-size: var(--normal-font-size);
                color: var(--subtitle-color);
                font-family: var(--body-font);
                width: 50%;

                @media (max-width: 856px) {
                    width: 100%;
                    line-height: 1.1;
                    font-family: var(--subtitle-font);
                }
            }
        }
    }

    &_lower {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        gap: 5vh;
        padding: 1.25rem;
        padding-bottom: 3vh;

        &_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid var(--border-color);

            @media (max-width: 756px) {

                display: flex;
                flex-direction: column;
                gap: 2vh;

            }

            &:last-child {
                border-bottom: none;
            }

            p {
                font-size: 1.5rem;
                line-height: 1.5;
                margin-top: 0;
                font-family: var(--body-font);
                color: var(--accent-color);

                @media (max-width: 756px) {
                    font-size: 1rem;
                }

            }

            a {
                text-decoration: none;
                color: var(--title-color);
                font-size: 4vw;
                line-height: 1;
                margin-top: 0;
                font-family: var(--body-font);
                padding-bottom: 2rem;
                width: 100%;

                @media (max-width: 756px) {
                    font-size: 2rem;
                }
            }
        }
    }
}