.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    height: 100%;
    max-width: 90vw;

    @media (max-width: 577px) {
        max-width: 98vw;
    }

    h2 {
        font-size: var(--title-size);
        font-family: var(--title-font);
        color: var(--title-color);
        text-align: left;
        margin: 2rem 0;
        width: 100%;

        @media (max-width: 768px) {
            font-size: var(--bigger-font-size);
        }

    }

    &__swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3vh;
        height: 100%;
        padding: 2rem;
        cursor: pointer;

        @media (max-width: 777px) {
            align-items: flex-start;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--dimmed-color);
        border: 1px solid var(--border-color);
        padding: 2rem;
        border-radius: 1rem;
        gap: 2rem;



        &__header {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                top: -1rem;
                width: 10vw;
                height: 1px;
                background-color: var(--border-color);

            }

            img {
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }
        }

        p {
            font-size: var(--normal-font-size);
            font-family: var(--body-font);
            color: var(--title-color);
            text-align: center;
            width: 90%;
        }
    }

    &__quote {
        display: flex;
        width: 65%;
        align-items: flex-start;
        justify-content: flex-start;

        svg {
            fill: var(--accent-color);
            font-size: 2rem;
        }
    }
}