.container__formSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #F2F0EBbb;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadada9b;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem;
    z-index: 9;
    @media (max-width: 977px) {
        max-width: 90vw;
    }

    @media (max-width: 467px) {
        max-width: 100vw;
    }
}

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        gap: 1rem;

        .button {
            width: 100%;
            padding: 0.5rem;
            border: 2px solid var(--title-color);
            border-radius: 2rem;
            font-size: 1.5rem;
            background-color: var(--title-color);
            color: var(--background-color);
            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            margin-top: 3vh;
        }

        .error {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            color: #721c24;
            background-color: #f8d7da;
        }

        input,
        select {
            height: fit-content;
            width: 100%;
            padding: 10px 0rem;
            border: none;
            border-bottom: 1px solid var(--border-color);
            border-radius: 0;
            outline: none;
            color: var(--title-color);
            background-color: transparent;
            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

            &:last-child {
                margin-bottom: 1rem;
                border-bottom: none;
            }

            &::placeholder {
                color: var(--title-color);
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: var(--title-color);
                opacity: 1;
            }

        }

        label {
            font-size: 1.5rem;
            color: var(--title-color);
            font-family: var(--title-font);
            text-transform: capitalize;

            @media (max-width: 467px) {
                font-size: 1.2rem;
            }
        }

        textarea {
            width: 100%;
            padding: 2rem 1rem;
            border: none;
            border-bottom: 1px solid var(--border-color);
            outline: none;
            background-color: transparent;
            color: var(--title-color);
            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

            &::placeholder {
                color: var(--title-color);
            }
        }
    }
    
    
.link {
    margin-top: 10px;
    text-align: left;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

    a {
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: var(--text-color);
            transition: width 0.3s;
        }

        &:hover {
            transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

            &::after {
                width: 100%;
            }
        }
    }
}

.loginUpper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    h2 {
        text-align: left;
    }
}

.group {
    display: flex;
    width: 100%;
    gap: 1rem;

    @media (max-width: 377px) {
        flex-direction: column;
    }
}

.column {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}