.nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: var(--container-color);
    top: 0rem;
    left: 0;
    overflow: scroll;

    .hamburger {
        display: flex;
        justify-content: flex-end;
        color: var(--title-color);
        font-size: 2rem;
        z-index: 9999;
        position: absolute;
        right: 3rem;
        top: 1rem;
        font-family: var(--title-font);
        cursor: pointer;

        @media (max-width: 468px) {
            right: 2rem;
        }

    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

