.nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 98;
    background-color: var(--container-color);
    top: 0rem;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    /* Prevents horizontal scrolling */

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}