.select {
    select {
        border: none;
        background-color: transparent;
        color: var(--title-color);
        cursor: pointer;
        &:focus {
            outline: none;
        }

    }
}