.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.centeredGlass {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: fit-content;
  transform: translate(-50%, -50%);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F0EBbb;
  box-shadow: 0 4px 30px rgba(96, 65, 58, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(5px);
  border: 1px solid #dadadae4;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.bottomGlass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background: #F2F0EBbb;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #dadada9b;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 1rem;
  z-index: 9;

}

.h1Global {
  font-family: var(--semi-bold-font);
  font-size: var(--semi-big-font-size);
  color: var(--title-color);
  letter-spacing: normal;
  text-transform: capitalize;
  font-display: swap;
  text-align: center;

  @media (max-width: 777px) {
    font-size: 8vw;
  }

}