.navbar {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;
    user-select: none;

    &__logo {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: var(--title-font);
        a {
            color: #fff;
        }
    }

    ul {
        display: flex;
        gap: 1rem;

        @media (max-width: 967px) {
            display: none;
        }

        li {
            font-size: 1.5rem;
            text-decoration: none;
            transition: color 0.3s;
            font-family: var(--body-font);
            a {
                color: #fff;
            }

        }
    }
    .menu {
        @media (min-width: 968px) {
            display: none;
        }

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 6.5vh;
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
            cursor: pointer;
            font-display: swap;
            user-select: none;
            font-family: var(--body-font);
            font-size: var(--body-font-size);
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            text-transform: capitalize;
            color: #fff;
        }
    }
}