.navbar {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    user-select: none;
    height: 5.5vh;
    background: #F2F0EBbb;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #dadada9b;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @media (max-width: 555px) {
        height: 6vh;
    }


    &__container {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        width: 100%;
    }

    &__logo {
        font-family: var(--title-font);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 9;

        .logo_content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            color: var(--title-color);
            gap: 0.5rem;
        }

        span {
            font-size: 1.8rem;
            letter-spacing: 0.05rem;
            padding-right: 1rem;
        }

        &_second {
            display: none;

            @media (min-width: 1640px) {
                display: block;
            }
        }
    }

    &__right {
        display: flex;
        gap: 4vw;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 9;



        &_left {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: flex-start;

            @media (max-width: 1271px) {
                display: none;
            }
        }

        &_right {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: flex-end;

            .desktop_menu {
                display: flex;

            }

            svg {
                font-size: 1.3rem;
            }
        }

        li {
            font-size: 1.2rem;
            text-decoration: none;
            transition: color 0.3s;
            font-family: var(--body-font);
            position: relative;
            width: fit-content;
            height: fit-content;
            text-transform: capitalize;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.3rem;
            }

            .dropdown {
                position: absolute;
                top: 3rem;
                left: -1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: calc(max-content * 10vw);
                background-color: var(--background-color);
                border-radius: 1rem;
                padding: 1rem;
                gap: 0.5rem;

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    gap: 0.5rem;
                    height: fit-content;

                    a {
                        justify-content: start;
                        height: fit-content;
                        width: 100%;
                        font-size: 1.1rem;

                        &:hover {
                            color: var(--accent-color);
                        }
                    }
                }
            }

            a {
                color: var(--title-color);
            }

            svg {
                color: var(--title-color);
            }

        }
    }

    .desktop_menu {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 9;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 6.5vh;
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
            cursor: pointer;
            font-display: swap;
            user-select: none;
            font-family: var(--body-font);
            font-size: var(--body-font-size);
            text-transform: capitalize;
            color: var(--title-color);
        }

        svg {
            color: var(--title-color);
        }
    }

}


.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    font-family: var(--title-font);
    color: var(--container-color);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;
    top: 0.2rem;

    span {
        position: absolute;
        top: -0.75rem;
        color: var(--title-color);
        font-size: 0.8rem;

        @media (max-width: 555px) {
            font-family: var(--body-font);
        }
    }
}

.background {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
}