.navbar {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    mix-blend-mode: difference;
    user-select: none;
    height: 6.5vh;

    &__logo {
        font-family: var(--title-font);
        position: relative;
        top: 2.5rem;
        
        a {
            color: #fff;
        }
        h1 {
            font-size: 1.8rem;
            letter-spacing: 0.05rem;
        }
        h2 {
            font-size: 1.8rem;
            letter-spacing: 0.2rem;
        }
        h3 {
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
        }
    }

    ul {
        display: flex;
        gap: 4vw;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 1rem;
        @media (max-width: 967px) {
            display: none;
        }
        .navbar__ul_left {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: 967px) {
                display: none;
            }
        }
        .navbar__ul_right {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 967px) {
                display: none;
            }
        }

        li {
            font-size: 1.5rem;
            text-decoration: none;
            transition: color 0.3s;
            font-family: var(--body-font);
            a {
                color: #fff;
            }
            svg {
                fill: #fff;
            }

        }
    }
    .menu {
        @media (min-width: 968px) {
            display: none;
        }

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 6.5vh;
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
            cursor: pointer;
            font-display: swap;
            user-select: none;
            font-family: var(--body-font);
            font-size: var(--body-font-size);
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            text-transform: capitalize;
            color: #fff;
        }
    }
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    font-family: var(--title-font);
    color: var(--container-color);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;
    span {
        position: absolute;
        top: -0.75rem;
        color: #fff;
        font-size: 0.8rem;
    }
}