.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Changed minmax to ensure better compatibility on smaller screens
  width: 97vw;
  height: 100%;
  justify-content: center;
  align-items: start; // Changed align-items to start to prevent stretching
  gap: 2rem;
  user-select: none;
  margin: 0 auto;
}

.products-grid-tour {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 1rem;
  width: 97vw;
  height: fit-content;
  user-select: none;
}

.tour-header {
  width: 100%;
  height: 20vh;
}

.tour-grid-right,
.tour-grid-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.column-tour {
  width: 97vw;
}

.skeleton {
  border-radius: 0.5rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-card-brand {
  width: 20%;
  height: 0.7rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-card,
.skeleton-card-tours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  padding: 0.4rem;
  gap: 0.6rem;
  max-width: 500px;
  min-width: 300px;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 555px) {
  .products-grid-tour {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.skeleton-card-tour-header {
  width: 100%;
  height: fit-content;
  border-radius: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

.skeleton-title {
  width: 30vw;
  height: 10vh;
  margin: 0.5rem 0;
}

.skeleton-card-text {
  width: 100%;
  padding: 1rem;
}

.skeleton-card-img,
.skeleton-card-img-header {
  width: 100%;
  height: 30vh; // Unified height for both image elements to prevent layout shifts
  border-radius: 1.5rem;
}

.skeleton-card-price {
  width: 10%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-rating {
  width: 20%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-title {
  width: 70%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-description {
  width: 96%;
  height: 2rem;
  margin: 0.5rem 0;
}

.equal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-video {
  margin-top: 5vh;
  width: 100%;
  height: 50vh;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  animation: skeleton-loading 1s linear infinite alternate;
}
