.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;

    &__upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        padding-bottom: 5vh;
        border-top: 1px solid var(--border-color);
        h2 {
            font-size: 10vw;
            color: var(--title-color);
            font-family: "Avantt-Bold";
            @media (max-width: 570px) {
                font-size: 5vh;
            }
        }

        p {
            font-size: var(--body-font-size);
            color: var(--title-color);
        }
    }

    &__lower {
        display: flex;
        width: 100%;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;


            @media (max-width: 570px) {
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 1rem;
            }

            li {
                font-size: var(--body-font-size);
                color: var(--title-color);
                @media (max-width: 570px) {
                    font-size: var(--small-font-size);
                }
                a {
                    text-decoration: none;
                    color: var(--title-color);
                }
                span {
                    font-size: var(--body-font-size);
                    color: var(--title-color);
                    @media (max-width: 570px) {
                        font-size: var(--small-font-size);
                    }
                    a {
                        text-decoration: none;
                        color: var(--title-color);
                    }
                }
            }
        }

    }
}