.introduction {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    background-color: #1b1b1b;

    h2 {
        font-size: 42px;
        color: #FFFFE3;
        font-family: "Poppins-Regular";
        position: absolute;
        z-index: 1;
    }

    p {
        display: flex;
        color: #FFFFE3;
        font-size: 42px;
        align-items: center;
        font-family: "Poppins-Regular";
        position: absolute;
        z-index: 1;

        span {
            font-family: "Poppins-Regular";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #FFFFE3;
            border-radius: 50%;
            margin-right: 10px;
            letter-spacing: 0.15rem;
        }
    }
    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #1b1b1b;
        }
    }
}